
<div style="display: flex; justify-content: space-between; width: 60vw;margin-left: 30px;">
  <span style="font-weight: bold;">La liste des factures</span>
  <span>Date : {{now | date:'d/M/y'}}</span>
</div>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">N Facture</th>
      <th scope="col">Date Facture</th>
      <th scope="col">Montant</th>
      <th scope="col">Etat</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of factures">
      <th scope="row">{{f.numfact}}</th>
      <td>{{f.Date | date:'dd/m/y'}}</td>
      <td>{{f.montant | currency:'EUR' : 'symbol' :'1.0-2' :'fr'}}</td>
      <td>

        <span *ngIf="f.etat== true ,else bloc">payée</span>
        <ng-template #bloc ><span style="color: red;">non payée</span></ng-template>

      </td>
    </tr>

  </tbody>
</table>

<router-outlet></router-outlet>
